/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*font*/

@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari&display=swap');

/*style*/

:root {
    --primary-color: #475569;
    --background-color: #f1f5f9;
    --secondary-background-color: #cbd5e1;
}


html {
    background-color: var(--background-color);
}

.container {
    display: grid;
    grid-template-rows: 1fr 10fr;
    font-family: 'Anek Devanagari','Helvetica', sans-serif;
}

.header {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    box-shadow: 0 3px 5px 1px #a1a1a1;
}

.header img, .header h1 {
    filter: invert(86%) sepia(100%) saturate(7483%) hue-rotate(189deg) brightness(130%) contrast(94%);
}

.header img {
    height: 60px;
}

h1 {
    font-weight: 800;
    font-size: 30px;
}

#content {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(auto-fit,200px);
    gap: 30px;
    margin-top: 30px;
}

.song {
    width: 800px;
    height: 150px;
    background-color: var(--secondary-background-color);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 30px;
    padding-right: 0;
}

.song>img {
    height: 100px;
    border-radius: 10px;
    justify-content: start;
}

.info {
    align-self: start;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-weight: 800;
    font-size: 28px;
}

h4, p {
    font-weight: 500;
    color: var(--primary-color);
}

h4 {
    font-size: 20px;
}

.info p {
    font-size: 14px;
    margin-top: 18px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
}

.actions img {
    height: 40px;
    width: 154px;
}


.actions button {
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 10px;
    height: 100px;
    width: 300px;
    justify-self: center;
    font-size: 40px;
    color: var(--primary-color);
}

.actions button:hover {
    transition: 200ms ease-in-out;
    background-color: var(--primary-color);
    color: var(--background-color);
}

#modal {
    width: 200px;
    height: 200px;
    /*display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.add-form {
    background-color:var(--primary-color);
    margin: auto;
    padding: 25px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.add-form>div:first-child {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.close {
    color: var(--secondary-background-color);
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--background-color);
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}

.add-form h1,.add-form label {
    color: var(--background-color);
}

.add-form label {
    font-weight: 500;
    font-size: 16px;
    padding: 4px;
}

input {
    width: auto;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: var(--background-color);
    color: var(--primary-color);
    box-shadow: 0 0 0 2px var(--background-color);
    margin-bottom: 30px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 4px var(--secondary-background-color);
}

#is-favourite {
    width: 25px;
    height: 25px;
    box-shadow: 0 0 0 1px var(--background-color);
}

#is-favourite:focus {
    box-shadow: 0 0 0 1px var(--background-color);
}

.add-form button {
    margin-top: auto;
    margin-bottom: 5px;
    padding: 20px 40px;
    background-color: var(--background-color);
    border-radius: 20px;
    border:none;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 900;
    font-size: 30px;
}

.add-form button:hover {
    border: 1.5px solid var(--background-color);
    font-size: 31px;
}


